.page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    background: green;
    /*
    background: #0f1924;
    */
}

.main {
    flex: 1;
    overflow-y: auto;
}

.game-card {
    padding-left: 20px;
}

.game-card ul {
    display: flex;
    flex-direction: column;

    gap: 10px;

    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.game-card li {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 14px 18px;

    /*
    background: rgba(179, 218, 255, 0.08);
    */
    background: #b3daff14;
}
.game-card li:hover {
    background: rgba(115, 150, 184, 0.25);
}
.game-card img {
    width: 90px;
    height: 120px;
    object-fit: cover;
    box-shadow: 8px 0 15px rgba(0, 0, 0, 0.8);
}

.title-platforms {
    display: flex;
    flex-direction: column;
}
.title-platforms p {
    margin: 0;
    padding: 0;
    
    font-size: 1.1rem;
    font-weight: 500;
    color: #e6e6e6;
    line-height: 1.1;
}
.title-platforms span {
    font-size: 0.7rem;
    color: #909090;
    line-height: 1.1;
}