.game_details_page > video {  
    display: block;

    width: 100%;

    height: calc(100vh - 94px);

    object-fit: cover;
}

/* -----------------------------------------------------------------
    Sets the format for buttons to be the same throughout the page
------------------------------------------------------------------ */
.game_details_page button {
    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;

    padding: 0px 15px;
    line-height: 30px;

    font-size: 15px;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;

    border-radius: 2px;
    border: none;

    color: var(--color-blue-6);
    background: rgba(103, 193, 245, 0.2);

    cursor: pointer;
}
button:hover {
    color: white;
    background-color: var(--color-blue-7);
}

.store_body {
    overflow-y: auto;
}
/* ------------------
    Start of top widgets
-------------------*/
.store_body_top {
    position: relative;

    padding: 20px 60px 0px 60px;

    overflow: hidden;

    background: #1b2838;
}

/* ---------------------------------------------------------------------
    game_Color and game_Texture are the backgrounds for store_body_top
--------------------------------------------------------------------- */
.gameColor {
    position: absolute;

    width: 100%;
    height: auto;

    top: 0;
    left: 0;
    
    object-fit: cover;

    filter: blur(60px);

    opacity: 0.5;

    mask-image: linear-gradient(180deg, black 200px, transparent 700px);
    mix-blend-mode: color;

    z-index: 0;

    pointer-events: none;
}
.gameTexture {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    filter: saturate(0.1) opacity(0.2);
    mask-image: linear-gradient(180deg, black 38%, rgba(0, 0, 0, 0.5) 96%);
    mix-blend-mode: lighten;

    z-index: 1;

    pointer-events: none;
}

.store_body_top_content {
    position: relative;

    z-index: 2;
}

/* ----------------------
    Start of basic_info
------------------------*/
.store_basic_info {
    display: flex;
    flex-direction: row;
    gap: 15px;

    width: 100%;
    height: auto;

    overflow-x: hidden;
    overflow-y: hidden;

    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(4px);
}

/* ---------------------------
    Start of store_basic_left
--------------------------- */
.store_basic_left {
    width: 70%;
}
.store_basic_left ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 7px;

    width: 100%;
    max-width: 100%;

    padding: 5px 0px 0px 0px;
    margin: 0px;

    list-style: none;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-color: #4b5563 var(--color-blue-1);
}
.store_basic_left li {
    padding: 0px;
    margin: 0px;

    flex: 0 0 auto;

    width: 110px;
    height: 65px;
}
.store_basic_left li img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}
.store_basic_left li img.selected {
    outline: 3px solid white; 
    outline-offset: -3px;
}
.store_main_media img,
.store_main_media video,
.store_main_media iframe {
    width: 100%;
    aspect-ratio: 16 / 9;

    object-fit: contain;
    display: block;
}

/* -----------------------------
    Start of store_basic_right
------------------------------ */
.store_basic_right {
    width: 30%; 
    min-width: 0;
    
    overflow-x: hidden;
    overflow-y: hidden;
}
.store_basic_right img {
    width: 100%;
    aspect-ratio: 2.14 / 1;;
}
.store_game_short_description {
    font-size: 14px;
    line-height: 19px;
    padding-right: 16px;

    overflow: hidden;

    color: #c6d4df;
}
.store_game_details_table {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
}
.store_game_detail_name {
    font-size: 11px;

    padding: 0px 10px 0px 0px;

    color: #798A95;
}
.store_game_detail_result {
    font-size: 13px;

    color: #66c0f4;
}
/* -------------------------------
    End of store_body_top widgets
---------------------------------*/

/* ------------------------------------
    start of store_body_middle widgets
--------------------------------------*/
.store_body_middle {
    padding: 0px 60px 0px 60px;
}

/* -----------------------
    Start of store_db_row
-------------------------*/
.store_db_row {
    display: flex;
    flex-direction: row;
    gap: 6px;

    width: 100%;

    padding: 16px;

    box-sizing: border-box;

    background-color: var(--color-blue-5);
    backdrop-filter: blur(7px);
}
.store_checkbox {
    width: 16px;
    height: 16px;
}

/* -----------------------------------
    Start of store_price_hltb_overlay
------------------------------------ */
.store_price_hltb_overlay {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.store_prices {
    width: 70%
}
.store_price_row {
    position: relative;

    width: 100%;

    font-weight: normal;
    font-size: 13px;

    padding: 16px 0px 26px 0px;
    margin-top: 20px;

    background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 97%);
    border-radius: 4px;
}
.store_price_row > p {
    font-family: "Motiva Sans", sans-serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 23px;

    margin: 0px;
    padding: 0px 16px 0px 16px;

    color: white;
}
.store_no_price {
    position: absolute;

    font-size: 12px;
    font-weight: bold;

    line-height: 10px;
    right: 15px;
    bottom: -15px;
    padding: 0px 12px 0px 12px;

    border-radius: 2px;

    z-index: 2;

    background: black;
    color: rgb(167, 167, 167);
}
.store_price_discount {
    position: absolute;
    right: 15px;
    bottom: -15px;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    border: 2px solid black;
    border-radius: 2px;

    padding: 0;
    border-radius: 2px;

    z-index: 2;
}
.store_price_discount > p {
    display:flex;
    align-items: center;

    margin: 0;
    padding: 0px 4px 0px 6px;

    font-size: 25px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;

    color: #BEEE11;
    background: #4c6b22;
}
.store_full_to_discount {
    display: flex;
    flex-direction: column;

    padding: 0px 6px 0px 12px;
    margin: 0px;

    background: #344654;
}
.store_full_to_discount p {
    padding: 0px;
    margin: 0px;
}
.store_full_to_discount p:nth-child(1) {
    position: relative;
    display: inline-block;

    align-self: flex-end;

    font-size: 11px;

    color: #738895;
}
.store_full_to_discount p:nth-child(1)::after {
    content: "";
    position: absolute;

    left: -1px;
    right: -1px;
    top: 50%;

    height: 1px;

    background: #738895;

    transform: rotate(-10deg);
}
.store_full_to_discount p:nth-child(2) {
    font-size: 14px;
    
    color: #BEEE11;
}
.store_full_price {
    position: absolute;
    right: 15px;
    bottom: -15px;

    background: black;
    color: rgb(167, 167, 167);

    font-size: 14px;
    font-weight: bold;

    line-height: 10px;

    padding: 0px 12px 0px 12px;

    border-radius: 2px;

    z-index: 2;
}

/* ----------------------
    Start of store_hltb
----------------------- */
.store_hltb {
    background: rgba(0, 0, 0, 0.2);

    width: 30%;
    max-height: 150px;

    margin-top: 20px;
    padding: 10px;

    box-sizing: border-box;
}
.store_hltb > p {
    margin: 0 0 10px 0;

    font-size: 14px;
    font-weight: bold;

    color: white;
}
.store_hltb_table {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.store_hltb_square {
    min-width: 0;

    padding: 8px 4px;

    text-align: center;

    border-radius: 4px;

    box-sizing: border-box;

    color: white;
    background: rgba(103, 193, 245, 0.2);
}
.store_hltb_square p {
    margin: 0px;
}
.store_hltb_category {
    font-size: 11px;

    color: #798a95;
}
.store_hltb_hours {
    font-size: 16px;
    font-weight: bold;

    color: #66c0f4;
}
/* ------------------------------------
    End of store_body_middle widgets
------------------------------------- */

/* ----------------------------
    Start of store_body_end
----------------------------- */
.store_body_end {
    padding: 20px 60px 20px 60px;
}
.store_body_end hr {
    width: 100%;

    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
}

/* ---------------------------------------------------------------------------
    Divides most popular reviews to the left and recent reviews to the right    
---------------------------------------------------------------------------- */
.store_reviews_layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ---------------------------------
    Start of most popular reviews
---------------------------------- */
.store_reviews {
    width: 70%;
}
.store_reviews > p {
    font-size: 14px;
}
.store_reviews_table {
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.store_review {
    display: flex;
    flex-direction: row;

    width: 100%;

    padding: 8px 8px 8px 8px;

    box-sizing: border-box; 

    background: rgba(0, 0, 0, 0.2);
}
.store_review_author_profile {
    display: flex;
    flex-direction: row;

    width: 30%;

    overflow: hidden;
}
.store_review_author_profile img {
    height: 35px;
    width: 35px;

    border: 2px solid #383c43;
}
.store_review_author_profile_info {
    display:flex;
    flex-direction: column;

    padding: 0px 0px 0px 10px;
}
.store_author_name {
    font-size: 13px;
    line-height: 18px;

    color: #c1dbf4;
    font-weight: bold;

    padding: 0px;
    margin: 0px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.store_review_author_count_variable {
    margin: 0px;
}
.store_review_author_count_variable span {
    padding: 0px;
    margin: 0px;

    font-size: 10px;
    color: #c6dbf4;
}
.store_review_author_game_data {
    display: flex;
    flex-direction: column;

    width: 100%
}
.store_review_author_game_data_top {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-height: 40px;

    background: var(--color-blue-2);

    overflow: hidden;
}
.store_review_author_game_data_right {
    align-self: center;
}
.store_thumbs_up {
    width: 40px;
    height: 40px;

    background: #009cf76c;
}
.store_thumbs_down {
    width: 40px;
    height: 40px;

    background: #9e1a03;
}
.store_recommended_or_not {
    padding: 0px 0px 0px 5px;
    margin: 0px;

    font-size: 16px;
    font-weight: 400;

    overflow: hidden;

    color: #d6d7d8;
}
.store_review_author_game_hours {
    padding: 0px 0px 0px 5px;
    margin: 0px;

    color: #8091a2;

    font-size: 11px;
    font-weight: 300;

    overflow: hidden;
}
.store_review_author_game_data_bottom {
    display: flex;
    flex-direction: column;

    font-size: 13px;
    line-height: 17px;
}
.store_date_of_review {
    color: #8091a2;
    opacity: .6;
    font-size: 10px;
    text-transform: uppercase;
}
.store_review_text {
    white-space: pre-wrap;

    width: 100%;
    max-height: 225px;

    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;

    font-size: 13px;
    line-height: 17px;

    color: #acb2b8;
}
.store_review_text.expanded {
    max-height: none;
}
.store_read_more_button {
    align-self: flex-end;
}

/* ---------------------------
    Start of recent reviews
---------------------------- */
.store_recent_reviews {
    width: 30%;
}
.store_recent_reviews > p {
    font-size: 14px;
}
.store_recent_reviews_table {
    display: flex;
    flex-direction: column;

    gap: 20px;
}
.store_recent_review {
    background: linear-gradient(90deg, rgba(62, 69, 81, 0.3), var(--color-blue-3));
}
.store_recent_reviews_top {
    width: 100%;

    max-height: 20px;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;

    align-items: center;

    overflow: hidden;

    background-color: rgba(0, 0, 0, .2);
}
.store_thumbs_up_small {
    width: 20px;
    height: 20px;

    background: #009cf76c;
}
.store_thumbs_down_small {
    width: 20px;
    height: 20px;
    background: #9e1a03;
}
.store_recent_author_name {
    font-size: 13px;

    color: #c1dbf4;
    font-weight: bold;

    padding: 0px 0px 0px 5px;
    margin: 0px;

    overflow: hidden;
    white-space: nowrap;
}
.store_recent_author_game_hours {
    padding: 0px 0px 0px 20px;
    margin: 0px;

    color: #8091a2;

    font-size: 11px;
    font-weight: 300;

    overflow: hidden;
}
.store_recent_reviews_bottom {
    padding-left: 5px;
}
.store_recent_reviews_bottom button {
    margin-bottom: 5px;
}
/* -------------------------------
    End of store_body_end widgets
--------------------------------- */

/* ------------------
    Move right box to the top and left box to bottom if the screen is small
-------------------*/
@media (max-width: 1200px) {
    .store_body_top {
        padding: 20px 20px 0 20px;
    }
    .store_basic_info {
        flex-direction: column;
    }
    .store_basic_right {
        order: -1;
        width: 100%;
    }
    .store_basic_left {
        width: 100%;
    }
    .store_body_middle {
        padding: 0px 20px 0 20px;
    }
    .store_price_hltb_overlay {
        flex-direction: column;
        gap: 0px;
    }
    .store_prices {
        width: 100%;
        order: 2;
    }
    .store_hltb {
        order: 1;
        width: 100%;
    }
    .store_hltb_table {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .store_body_end {
        padding: 20px 20px 0 20px;
    }
    .store_reviews_layout{
        flex-direction: column;
    }
    .store_reviews {
        width: 100%;
    }
    .store_review {
        flex-direction: column;
        gap: 5px;
    }
    .store_recent_reviews {
        width: 100%;
    }
}
