.navbar {
    position: fixed;
    left: 0;
    top: 0;

    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-content: center;
    
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
    box-sizing: border-box;

    color: #dcdedf;
    background: #171d25;

    z-index: 1000;
}
.navbar a {
    text-decoration: none;
    color: inherit;

    font-size: 15px;

    white-space: nowrap;
}
.navbar a:hover {
    color: #FFF;
}
.navbar a.active {
    color: #1a9fff;
    border-bottom: 2px solid #1a9fff;
}